{% extends "cre_finance/base.html" %}
{% load humanize %}
{% load cref_extras %}

{% block title %}
  Building Detail
{% endblock title%}

{% block content %}
<h3> Building Detail</h3>

<div>
  <div><a href="{% url 'home' %}">Home page</a></div>
  <div><a href="{% url 'building:cost:create' building.pk %}">Create Cost</a></div>
  <div><a href="{% url 'building:cost:create-multiple' building.pk %}">Create Multiple Cost</a></div>
  <div><a href="{% url 'building:update' building.pk %}">Update Building</a></div>
  <div><a href="{% url 'building:delete' building.pk %}">Delete Building</a></div>
</div>

<ul>
  <li>ID: {{ building.id }}</li>
  <li>Name: {{ building.name }}</li>
  <li>Value: {{ building.value|intcomma }}</li>

  {% if building.loan %}
  <li>Funded by loan:{{building.loan}}
    - <a href="{{ building.loan.get_absolute_url }}">Detail</a>
    - <a href="{% url 'loan:update' building.loan.pk %}">Update</a>
    - <a href="{% url 'loan:delete' building.loan.pk %}">Delete</a>
  </li>
  {% endif %}
</ul>


{% if building_cost %}

<ul>
  <li>Cost:
    <ul>
      <form method="post" action="{% url 'building:cost:delete-multiple' building.pk %}">{% csrf_token %}
      {% for cost in building_cost %}
      <li> {{cost}}
        - <a href="{% url 'building:cost:update' building.pk cost.pk %}">Update</a>
        - <a href="{{cost.get_absolute_url}}">Detail</a>
        <input type="checkbox" value="{{ cost.pk }}" name="cost">
      </li>
      {% endfor %}
        <button type="submit">Delete Selected Costs</button>
    </form>
    </ul>
  </li>
</ul>

<ul>
  <li>Costs:
    <ul>
      {% for cost in costs %}
      <li> {{cost.type}}: {{cost.total_amount|floatformat:0|intcomma}}</li>
      {% endfor %}
      <li>
        <a href="{% url 'building:cost:list' building.pk %}">
          Cost Detail List
        </a>
      </li>
    </ul>
  </li>
</ul>

<div>
  <div> Development Schedule:</div>
  {{building.development_schedule|df_to_html|safe}}
</div>

{% endif %}


{% endblock %}
