{% extends "cre_finance/base.html" %}
{% load static %}

{% block title %}
  Create Cost
{% endblock title%}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div><a href="{% url 'home' %}">Home</a></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">Amount</div>
        <div class="col">Type</div>
        <div class="col">Date start</div>
        <div class="col">Date end</div>
      </div>
      <form id="form-container" method="post">{% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
        {{form.id}}
        <div class="cost-form">
          <div class="row">
            <div class="col">{{form.amount}}</div>
            <div class="col">{{form.type}}</div>
            <div class="col">{{form.date_start}}</div>
            <div class="col">{{form.date_end}}</div>
          </div>
        </div>
        {% endfor %}
        <button id="add-form" type="button">Add Another Cost</button>
        <button type="submit">Create Costs</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
