{% extends "cre_finance/base.html" %}
{% load humanize %}
{% load cref_extras %}

{% block title %}
  Cost Detail
{% endblock title%}

{% block content %}
<h3> Cost Detail</h3>
<div>
  <div><a href="{% url 'home' %}">Home page</a></div>
  <div><a href="{% url 'building-detail' cost.building.pk %}">Building Detail</a></div>
  <div><a href="{% url 'cost-delete' cost.building.id cost.pk %}">Delete Cost</a><div>
</div>


<ul>
  <li>id: {{ cost.id }}</li>
  <li>type: {{ cost.type }}</li>
  <li>amount: {{ cost.amount|intcomma }}</li>
  <li>date_start: {{ cost.date_start }}</li>
  <li>date_end: {{ cost.date_end }}</li>
  <li>building: {{ cost.building }}</li>
</ul>

<p> Schedule:</p>
<p> {{ cost.schedule |ds_to_html|safe}}</p>



{% endblock %}
