{% extends "cre_finance/base.html" %}
{% load cref_extras %}

{% block title %}
  Update object
{% endblock title%}

{% block content %}
<h3> Loan Update</h3>
<div>
  <div><a href="{% url 'home' %}">Home page</a></div>
</div>

<form method="post">{% csrf_token %}
  <ul>
  {% for field in form %}
      <li>
      {% if field.name == 'funding_required' %}
          {{ field.label }}: {{field.value|ds_to_html|safe}}
      {% else %}
          {{ field.label }}: {{field}}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
  <input type="submit" value="Save">
</form>
{% endblock %}
