<div class="d-flex flex-column p-3 sidebar">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item text-white">
      <a
      href="{% url 'home'%}"
      class="nav-link text-white
      {% if 'loan' not in request.path %} active {% endif %}"
      aria-current="page">Home</a>
    </li>
    <li class="nav-item">
      <a
      href="{% url 'loan:create' %}"
      class="nav-link text-white
       {% if 'loan' in request.path %} active {% endif %}"
       > New Loan</a>
    </li>
  </ul>
</div>
