.sidebar {
  height: 100vh;
  background-color: #0F56B3;
  /* width: 200px; */
}

.text-bold {
  font-weight: bold;
}

.icon {
  height: 1rem;
  display: block;
}
.edit {
  background: url('../../cre_finance/img/edit.svg') no-repeat;
}
.delete {
  background-position: center;
  width: 1rem;
  height: 1rem;
  display: block;
  margin: auto;
  background: url('../../cre_finance/img/x_icon.svg') no-repeat;
}

.frame{
  height: 1rem;
  display: block;
}

.map {
  /* position: relative; */
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.text-bold {
  font-weight: bold;
}

.sectionHeight{
  min-height: 100%;
  width: auto;
}
